[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyterlab = "*"
pymongo = "*"
google-cloud-language = "*"
autopep8 = "*"
wordcloud = "*"
pandas = "*"

[dev-packages]

[requires]
python_version = "3.9"
